.button {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.container {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
.img-henna {
  margin-right: 90%;
  margin-top: 2%;
  border-radius: 5px;
}
.img-cover {
  margin-left: 70%;
  margin-top: 3%;
}
.lista {
  list-style: none;
  width: 90%;
  margin-left: 20%;
  margin-top: -200px;
  font-size: 16px;
}
.modulo {
  display: inline-block;
  margin-right: 80%;
  margin-top: -400px;
}
